<!-- Vertical navbar -->
<div class="vertical-nav bg-dodgerblue" id="sidebar">
  <p class="text-gray font-weight-bold text-uppercase px-3 small pt-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item-home">
      <a href="#" class="nav-link text-light font-italic">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw dropdown-toggle"></i>
                Work
            </a>
            <ul class="dorpdown-menu">
              <li><a href="#">Process</a></li>
              <li><a href="#">Relationship</a></li>
            </ul>
    </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pt-4 mb-0">Settings</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                User Management
            </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
